<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Admin_login</title>
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
<body>
    <form action="../adminlogin" method="post">
        {% csrf_token %}
        <input type="text"  name="username" placeholder="admin_name" id=""><br>
        <input type="text" name="password" placeholder="password" id=""><br>
        <button type="submit">login</button>
    </form>
</body>
</html>