<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Userhome</title>
    <style>
        body{
            background-color: rgb(229, 183, 238);
            /* border: 2px solid black;
            margin: 5px; */
        }
        main{
            border: 2px solid black;
        }
        a{
            text-decoration: none;
        }
    </style>
</head>
<body>
    <div class="main">
        <div class="users">
            <h1>USERS DETAILS</h1>
        </div>
        <!-- <div class="main"> -->
            <!-- {% for i in user %}
            <div class="profile1" style="border :1px solid black; margin: 5px;">
                <div class="login1">
                    <p>username : {{i.username}}</p>
                    <p>email : {{i.email}}</p>
                </div>
            </div>
            {% endfor %} -->
        <!-- </div> -->
         {{user}}
        <a href="../">back to home</a>
        <!-- {{user}} -->
     </div>
</body>
</html>
