<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>employee register</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <body>
        <div class="login-container">
            <h2>EMPLOYEE REGISTER</h2>
            <form action="../employereg" method="post">
                {% csrf_token %}
                <div class="input-group">
                    <!-- <label for="username">Username:</label> -->
                    <input type="text" id="" name="username" placeholder="enter name" required>
                </div>
                <select name="d" id="">
                    <option selected disabled>select your department</option>
                        {% for i in deps %}
                            <option value="{{i.pk}}">{{i.dname}}</option>
                        {% endfor %}
                </select>
                <div class="input-group">
                    <!-- <label for="username">Username:</label> -->
                    <input type="email" id="" name="email" placeholder="enter email" required>
                </div>
                <div class="input-group">
                    <!-- <label for="password">Password:</label> -->
                    <input type="password" id="" name="password" placeholder="enter password" required>
                </div>
                <button type="submit" class="login-btn">Register</button>
            </form>
            <a href="../">Go Back</a>
        </div>
    </body>
</body>
</html>